/* body {
  background:#252934;
} */



.barsIcon {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  animation-name: spinaroonie;
  animation-duration: .5s;
  z-index: 9;
}

.closeIcon {
  position: fixed;
  right: 20px;
  top: 20px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  cursor: pointer;
  animation-name: spinaroonie;
  animation-duration: .5s;
  z-index: 9999999999;
}



.barsIconA {
display: none;

}

/* .drop-closed {
z-index: 999999;
opacity: 0;
animation-name: slideUp;
animation-duration: .5s;

}

.drop-closed ul{
  display: none;
} */







@keyframes spinaroonie {
  from {
    
    transform:rotate(0deg);
  }
  to {
    transform:rotate(360deg);
  }
}

.drop-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 99999999;
  background-size: cover;
  background-position: center;
  animation-name: slideDown;
  animation-duration: .6s;
  animation-fill-mode: both;

}

@media screen and (max-width: 1025px) {
  .drop-menu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99999999;
    background: #252934;
  }  
}




@keyframes slideDown {
  0% {
    height: 0px;
  }
  
  100% {
    height: 100vh;
  }
}




.drop-menu ul {
  background-color: #313131;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;

}

.drop-menu ul li {
  border-top: 1px solid #333436;
  height: 200px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  width: 100%;
  cursor: pointer;
  transition: background-color .5s;
  color: rgb(255, 255, 255);
}

.drop-menu ul li:hover {
  background-color: lightgray;
  color: whitesmoke;
}

.drop-closed {
  height: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  background-size: cover;
  background-position: center;
  color: rgb(255, 255, 255);
  animation-name: slideUp;
animation-duration: .5s;
z-index: 99999999;

}

@media screen and (max-width: 1025px) {
  .drop-closed {
    background: #252934;
    z-index: 99999999;

  }  
}


@keyframes slideUp {
 from {
  height: 100vh;
 } 
 to {
  height: 0px;

 }
}

.drop-closed ul {
  background: #404143;
  margin: 0 auto;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
}

.drop-closed ul li {
  height: 200px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Teko', sans-serif;
  font-size: 40px;
  width: 100%;
}

.drops-none {
  display: none;
  z-index: -9999999999999;
}

.null {
  height: 0px;
  width: 0px;
  margin: 0;
  padding: 0;
  visibility: hidden;
}

.undrop {
  position: relative;
}

.btn.btn-secondary {
  font-family: 'Raleway', sans-serif;
}
