.blog-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: medium-content-serif-font, Georgia, Cambria, "Times New Roman", Times, serif;
  background-color: #252934;
  color: darkgray;
  line-height: 32px;
  letter-spacing: 0.003em;
}

.blog-name {
  padding-bottom: 25px;
  color: rgb(255, 255, 255);

}

.post-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding-bottom: 80px;
  border-bottom: solid lightblue 5px;

}

.blog-header {
  width: 55%;
  
}

.medium-about {
  width: 55%;
  display: flex;
  justify-content: space-between;
}

.blog-img {
  height: 450px;
  width: 55%;
  margin-top: 25px;
  margin-bottom: 30px;
  object-fit: cover;
}

.medium {
  font-style: italic;
}

.blog-body {
  font-size: 21px;
  width: 55%;
  
}

.article-list {
  left: 15px;
  top: 20px;

  position: fixed;
  cursor: pointer;
  list-style: none;
}

.arrow-left {
   position: fixed;
   top: 40%;
   right: 95%;
   font-size: 60px;
   font-weight: 200;
   cursor: pointer;
   color: rgb(255, 255, 255);
   text-decoration: none;

}

.arrow-left p {
  font-size: 1rem;

}