.contact-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  background: url('./img/front-hero.jpg');
  background-size: cover;
  background-position: center;

 opacity: 1;


}

.contact-container h2 {
  color: white;
}

.contact-container input {
  margin-bottom: 15px;
  border-radius: 30px;
  background:#313131;

}

.contact-container textarea {
  margin-bottom: 15px;
  border-radius: 15px;
  background:#313131;

}

.contact-container form {
  color: white;
  border: #313131 solid 1px;
  height: 60%;
  padding: 5%;
  background:
    linear-gradient(
      rgb(37, 41, 52, .9)
,
rgb(37, 41, 52)
),
    url(https://dl.dropboxusercontent.com/u/22006283/preview/codepen/clouds-cloudy-forest-mountain.jpg) no-repeat center center;
}

.contact-container p {
  width: 200px;
}

.info-contain {
  display: flex;
  flex-direction: column;
  /* justify-content: space-between; */
  height: 45vh;
}

.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.contact-button {
  margin: 0;
  padding: 0;
}

.contact-button input {
  color: white;
  margin: 0 auto;

}

.arrow-left {
  position: fixed;
  top: 40%;
  right: 95%;
  font-size: 60px;
  font-weight: 200;
  cursor: pointer;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;

}

.arrow-left p {
  font-size: 1rem;
}

.arrow-left:hover {
  color: lightblue;
}
