@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;600&display=swap');

.dash-container {
  background-color: #252934;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
  height: 100%;
  min-height: 100vh;
}

.faIcons-dash {
  position: fixed;
  top: 0;
  left: 65%;
  display: flex;
  width: 150px;
  justify-content: space-evenly;
  background-color: #171a21;
  border-radius: 0px 0px 10px 10px;
  animation-name: iconSlide;
 animation-duration: .8s;
 animation-delay: 1.4s;
 z-index: 99999;
}

@media screen and (min-width: 500px) {
  .faIcons-dash {
    left: 55%;
  }
}

.list-icon-dash {
  font-size: 28px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}

@keyframes iconSlide {
  from {
    top: -50px;
  }
  to {
    top: 0;
  }
}


.motion-div {
  position: absolute;
  top: 0;
  height: 50%;
  width: 100%;
  background-color: #171a21;
  z-index: 99;
}


.motion-div-two {
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
  background-color: #171a21;
  z-index: 99;
  overflow: none;
}

.motion-div-line {
  background-color: rgb(255, 255, 255);
  position: absolute;
  top: 0;
  z-index: 100;
}

.dash {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dash h2{
  font-family: 'Raleway', sans-serif;
  font-weight: bolder;
  font-size: 3em;
  color: white;
  z-index: 10;

}

@media screen and (max-width: 900px) {
  .dash h2 {
    padding-top: 20px;
  }
}


.dash p {
  padding-top: 10px;
  font-size: 1.30em;
    color: rgb(255, 255, 255);
    line-height: 40px;
    word-spacing: 2px;
    letter-spacing: .5px;
}

.list-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 60%;
}

@media screen and (max-width: 900px) {
  .list-container {
    width: 100%;
  }
}


.list-container li {
  width: 90px;
  height: 40px;
  cursor: pointer;
  list-style: none;
  background-color: #313131;
   margin: 10px;
   color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: bold;
   box-shadow: 1px 2px 2px 1px #222;
   border-radius: 2px;
   transition: background .5s ease-in;
}

.list-container li:hover {
  box-shadow: 0px 0px 8px rgb(255, 255, 255);

}

.filter {
  font-size: 1px;
  font-family: 'Raleway', sans-serif;
}

.dont-show {
  display: none;
  transition: display 2s;
  
}

.project {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media screen and (max-width: 1180px) {
  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}


.project-item {
  display: flex;
  padding-bottom: 50px;
  cursor: pointer;
  transition: display 2s;
  animation-name: appear;
  animation-duration: 1s;
  position: relative;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.project img {
  width: 440px;
  height: 270px;
  object-fit: cover;
  box-shadow: 3px 10px 10px 3px #222;

}

.proj-hover {
    position: absolute;
    width: 440px;
    height: 270px;  
    background-color: rgba(17, 20, 27, 0.8);
    color: white;
    top: 0;
    opacity: 0;
  
}


/* @keyframes expand {
  from {
    height: 0px;
  }
  to {
    height: 270px;  
  }
} */




.proj-list-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.proj-list-buttons ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 150px;
  padding: 0;
  margin: 0;
}

.proj-list-buttons ul li {
  list-style: none;
  width: 110px;
  height: 30px;
  background-color: #313131;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  color: lightgray;
}
.slide-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */

}



.slide-filter {
  position: absolute;
  top: 52%;
  margin-top: -5vh;
  z-index: 9999;
  height: 10vh;
  width: 100vw;
  text-align: center;
  animation-name: appearFilter;
  animation-duration: 5s;
  font-family: 'Teko', sans-serif;
  font-size: 50px;
}

.slide-container {
  font-size: 30px;
}

@keyframes appearFilter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.slide-bar {
  position: absolute;
  top: 0;
  height: 50vh;
  width: 100%;
  background-color: #222;
  animation-name: slideLeft;
  animation-duration: .6s;
  z-index: 150;
}



.slide-bar-bott {
  position: absolute;
  bottom: 0;
  height: 50vh;
  width: 100%;
  background-color: rgb(42, 41, 41);
  animation-name: slideRight;
  animation-duration: .6s;
  z-index: 150;
}

@keyframes slideLeft {
  from {
    left: -1300px;
  }
  to {
    left: 0px;
  }
}

@keyframes slideRight {
    from {
      left: 1300px;
    }
    to {
      left: 0px;
    }
  }
  
  .arrow-left {
    position: fixed;
    font-family: 'Raleway', sans-serif;

    top: 50%;
    right: 95%;
    font-size: 60px;
    font-weight: 200;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }
 
  .arrow-left:hover {
    color: lightblue;
  }

  .arrow-right {
    font-family: 'Raleway', sans-serif;

    position: fixed;
    top: 40%;
    left: 95%;
    font-size: 60px;
    font-weight: 200;
    cursor: pointer;
    color: rgb(255, 255, 255);
    text-decoration: none;
  }

  @media screen and (max-width: 900px) {
    .arrow-left {
      display: none;
    }
  }
  @media screen and (max-width: 900px) {
    .arrow-right {
      display: none;
    }
  }
  
 
  .arrow-right:hover {
    color: lightblue;
  }


  .arrow p {
    font-size: 1rem;
  }




  .modal-para {
    padding-bottom: 10px;
    font-family: 'Teko', sans-serif;

  }

  .video {
    width: 100%;
   
  }

  .toAbout {
    color: white;
    font-size: 1rem;
  }

  .font-icon {
    color: white
  }

  .font:hover {
    color: lightblue;
  }

  .btn.btn-info {
    background-color: blue;
    border-radius: 0;
    border: 0;
  }
 
    .btn.btn-secondary:hover {
     background-color: blue;
 
    }
  
 