
.resume-email {
  position: absolute;
  
}


.resume {
  width: 450px;
  
}

 #particles-js {
   width: 100%;
   height: 100vh;
   background: #252934;
  opacity: 1;
 }

 
 
 .home-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 50%;
   margin-top: -110px;
   left: 50%;
   margin-left: -310px;
   height: 220px;
   width: 620px;
   font-family: 'Raleway', sans-serif;
   text-align: center;
 
   
 }
 
 .home-content h1 {
   color: white;
   line-height: 36pt;
   font-size: 32pt;
   font-weight: 200;
 
 }
 
 .home-content p {
   margin: 0;
 }
 
 .home-content h1 span.name {
   color: blue;
   font-weight: 1000;
 
 }
 
 .home-content button {
   color: white;
   background-color: transparent;
 }
 
 .button-link {
   color: white;
   border: 1px solid white;
   height:  45px;
   width: 230px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16pt;
   cursor: pointer;
   transition: background-color .4s;
 }
 
 .button-link:hover {
   background-color: lightblue;
   color: rgb(255, 255, 255);
 }


 .hoverArrow {
  color: #252934;
  transform: rotate(90deg);
  transition-duration: .8s;

 }

 .faIcons {
   position: absolute;
   top: 50%;
   margin-top: -135px;
   text-shadow: rgb(255, 255, 255);
   box-shadow: rgb(255, 255, 255);
   height: 280px;
   display: flex;
   flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  animation-name: flip;
  animation-duration: 1s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  left: -200px;
 }

 .list-icon {
   list-style: none;
   font-size: 60px;
   color: rgb(255, 255, 255);
  cursor: pointer;
 }


 @keyframes flip {
   from {
    left: -200px;
   }
   to {
    left: 0;
   }
 }

 .arrow {
   position: absolute;
   top: 40%;
   left: 95%;
   font-size: 60px;
   font-weight: 200;
   cursor: pointer;
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-family: 'Raleway', sans-serif;

 }

 .arrow:hover {
   color: lightblue;
 }

 .btn.btn-secondary {
   background-color: blue;
   border-radius: 0;
   border: 0;
 }

   .btn.btn-secondary:hover {
    background-color: blue;

   }
 
