
.resume-email {
  position: absolute;
   z-index: 999999;
}


.resume {
  width: 450px;
  z-index: 9999999999;

  
}

@media screen and (max-width: 500px) {
  .resume {
    width: 350px;
  }
}




 #particles-js {
   width: 100%;
   height: 100vh;
   background: url('./img/front-hero.jpg');
   background-size: cover;
   background-position: center;
   filter: brightness(20%);

  opacity: 1;
 }

 
 
 .home-content {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 50%;
   margin-top: -30vh;
   left: 50%;
   margin-left: -30vw;
   height: 60vh;
   width: 60vw;
   font-family: 'Raleway', sans-serif;
   text-align: center;
   
 }
 
 @media screen and (max-width: 500px) {
  .home-content {
    left: 50%;
    margin-left: -40vw;
    width: 80vw;

   }
}


 
 .home-content h1 {
   color: white;
   line-height: 36pt;
   font-size: 32pt;
   font-weight: 200;
   z-index: 999;

 }
 
 .home-content p {
   margin: 0;
   color: white;
   padding-bottom: 20px;
 }

 .about-me {
   font-size: 1.1rem;
   text-align: left;
 }

 @media screen and (max-width: 800px) {
  .about-me {
    text-align: center;
  }
}

 
 .home-content h1 span.name {
   color: blue;
   font-weight: 1000;
  
 }
 
 .home-content button {
   color: white;
   background-color: transparent;
   
 }
 
 .button-link {
   color: white;
   border: 1px solid white;
   box-shadow: 0 0 10px #9ecaed;
   height:  45px;
   width: 230px;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: 16pt;
   cursor: pointer;
   transition: background-color .4s;
 }
 
 .button-link:hover {
   background-color: lightblue;
   color: rgb(255, 255, 255);
 }


 .hoverArrow {
  color: #252934;
  transform: rotate(90deg);
  transition-duration: .8s;

 }

 .faIcons {
   position: absolute;
   top: 50%;
   margin-top: -135px;
   text-shadow: rgb(255, 255, 255);
   box-shadow: rgb(255, 255, 255);
   height: 280px;
   display: flex;
   flex-direction: column;
  justify-content: space-between;
  padding-left: 20px;
  animation-name: flip;
  animation-duration: 1s;
  animation-delay: .8s;
  animation-fill-mode: forwards;
  left: -200px;
 }

 @media screen and (max-width: 500px) {
  .faIcons {
    top: 50%;
    margin-top: -90px;
    height: 180px;
    padding-left: 5px;

  }
}


 @media screen and (max-width: 800px) {
  .arrow {
    left: 90%;
  }
}


 .list-icon {
   list-style: none;
   font-size: 60px;
   color: rgb(255, 255, 255);
  cursor: pointer;
 }

 @media screen and (max-width: 500px) {
  .list-icon {
    font-size: 35px;
  }
}



 @keyframes flip {
   from {
    left: -200px;
   }
   to {
    left: 0;
   }
 }

 .arrow {
   position: absolute;
   top: 40%;
   left: 95%;
   font-size: 60px;
   font-weight: 200;
   cursor: pointer;
   color: rgb(255, 255, 255);
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
   

 }

 @media screen and (max-width: 800px) {
  .arrow {
    left: 90%;
  }
}

@media screen and (max-width: 500px) {
  .arrow {
    display: none;
  }
}



 .arrow:hover {
   color: lightblue;
 }

 .btn.btn-secondary {
   background-color: blue;
   border-radius: 0;
   border: 0;
 }

   .btn.btn-secondary:hover {
    background-color: blue;

   }

   body{
    margin: 0;
    padding: 0;
}
section{
    font-size:3rem;
    position:relative;
    height:100vh;
  }
    section h1{
        position:absolute;
        top:40%;
        left:50%;
        transform:translate(-50%,-50%);
    }





section:nth-child(odd){
 
    color:white;
      background-color: #b61924;

}

.github {
  display: flex;
  width: 80vw;
  justify-content: space-around;
  align-items: center;
  border: #dadada 1px solid;
  margin-top: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #9ecaed;
}
 
.github img{
  height: 220px;
  width: 40%;
  object-fit: contain;

}

@media screen and (max-width: 800px) {
  .github {
    display: none;
  }
}

.list-icon-github {
  list-style: none;
  font-size: 60px;
  color: rgb(255, 255, 255);
}

@media screen and (max-width: 500px) {
 .list-icon-github {
   font-size: 35px;
 }
}
