$sm: 600px; //breakpoint for smaller devices
$smMd: 800px;
$md: 1000px;
$mdLg: 1200px;
$lg: 1800px; //desktop

$primaryColor:#33393e;
$primaryColorHover:#383f45;
$secondaryColor: rgb(23, 206, 75);
$thirdColor: #222629;


@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $sm) {
      @content;
    }
  } @else if $breakpoint == smMd {
    @media (max-width: $smMd) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $md) {
      @content;
    }
  } @else if $breakpoint == mdLg {
    @media (max-width: $mdLg) {
      @content;
    }
    
  } @else if $breakpoint == lg {
    @media (max-width: $lg) {
      @content;
    }
  }
}


.header {
  position: fixed;
  background: $primaryColor;
  color: white;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
z-index: 9999999999999999;

  .header {
    @include respond(md) {
      height: 50px;
      flex-direction: row;
      justify-content: center;
    }

  }

  .right_header {
    @include respond(md) {
      display: none;
    }

  }

  h1 {
    font-size: 2rem;

    span {
      color: lightgray;
    }

    @include respond(md) {
      display: none;
    }

  }

  ul {
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond(md) {
      display: none;

    }

  }

  li {
    list-style: none;
    padding-left: 30px;
    cursor: pointer;
    transition-duration: .4s;
    
    .list_icon {
      padding-right: 5px;

      
 
    }



  
}
li:hover {
  color: $secondaryColor;
  
}


}


.mail_container {
  background: rgba(51, 170, 51, .1);
  border-radius: 2em;
  width: 35px;
  height: 30px;
  display: flex;
  justify-content: center;
align-items: center;
text-align: center;
    margin-left: 30px;

  li {
    padding: 0px;
  }

}

.svg-inline--fa.fa-envelope.fa-w-16.list_icon {
  padding: 0px;

}

.mobile {
  display: none;
  @include respond(md) {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;


  }


}
.mobile:hover {
  color: $secondaryColor;
}

.mobile_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: $thirdColor;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;

  ul {
    display: flex;
    height: 50vh;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    padding: 0;

    li {
      width: 100vw;
      text-align: center;
      background: $primaryColor;
      font-size: 2rem;
      padding: 10px;
  
    }

  }


  .list_icon {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 2rem;
    cursor: pointer;
    z-index: 99999999999999999;

  }
  .mobile_list:hover {
    color: $secondaryColor;
  }
  

}

.hide {
  display: none;
}

.resume {
  width: 450px;
  z-index: 999999999999999999;
  
  
}

@media screen and (max-width: 500px) {
  .resume {
    width: 350px;
  }
}

.btn.btn-secondary {
  background: $secondaryColor;
  border-radius: 2em;
  height: 30px;
  display: flex;
  justify-content: center;
align-items: center;
text-align: center;
    margin-left: 30px;
    color: black;

}

.right_header a {
  color: white;
  text-decoration: none;
}
.right_header a:hover {
  color: $secondaryColor;
  text-decoration: none;
}



