.header {
  position: fixed;
  background: #33393e;
  color: white;
  top: 0;
  left: 0;
  height: 90px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  z-index: 9999999999999999;
}

@media (max-width: 1000px) {
  .header .header {
    height: 50px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .header .right_header {
    display: none;
  }
}

.header h1 {
  font-size: 2rem;
}

.header h1 span {
  color: lightgray;
}

@media (max-width: 1000px) {
  .header h1 {
    display: none;
  }
}

.header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1000px) {
  .header ul {
    display: none;
  }
}

.header li {
  list-style: none;
  padding-left: 30px;
  cursor: pointer;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.header li .list_icon {
  padding-right: 5px;
}

.header li:hover {
  color: #17ce4b;
}

.mail_container {
  background: rgba(51, 170, 51, 0.1);
  border-radius: 2em;
  width: 35px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 30px;
}

.mail_container li {
  padding: 0px;
}

.svg-inline--fa.fa-envelope.fa-w-16.list_icon {
  padding: 0px;
}

.mobile {
  display: none;
}

@media (max-width: 1000px) {
  .mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 2rem;
    cursor: pointer;
    width: 90%;
  }
}

.mobile:hover {
  color: #17ce4b;
}

.mobile_list {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #33393e;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 9999999;
}

.mobile_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 50vh;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}

.mobile_list ul li {
  border-top: 1px solid #383f45;
  width: 100vw;
  text-align: center;
  background: #222629;
  font-size: 2rem;
  padding: 50px;
}

.mobile_list li:first-child {
  border-top: 1px solid #383f45;
}

.mobile_list .list_icon {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 2rem;
  cursor: pointer;
  z-index: 99999999999999999;
}

.mobile_list .mobile_list:hover {
  color: #17ce4b;
}

.hide {
  display: none;
}

.resume {
  width: 450px;
  z-index: 999999999999999999;
}

@media screen and (max-width: 500px) {
  .resume {
    width: 350px;
  }
}

.btn.btn-secondary {
  background: #17ce4b;
  border-radius: 2em;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-left: 30px;
  color: black;
}

.right_header a {
  color: white;
  text-decoration: none;
}

.right_header a:hover {
  color: #17ce4b;
  text-decoration: none;
}
/*# sourceMappingURL=Header.css.map */