.hero_container {
  height: 100vh;
  background: #33393e;
  color: white;
  font-family: 'Abel', sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.hero_container .hero_container_left {
  margin: 0 auto;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
}

@media (max-width: 600px) {
  .hero_container .hero_container_left {
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    z-index: 999999;
  }
}

@media (max-width: 1200px) {
  .hero_container .hero_container_left {
    margin-left: 30px;
  }
}

@media (max-width: 1000px) {
  .hero_container .hero_container_left {
    margin: 0px;
    width: 100vw;
  }
}

.hero_container h2 {
  font-size: 1rem;
  background: #17ce4b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: black;
  width: 130px;
  height: 30px;
  font-weight: 600;
  margin-bottom: 30px;
}

.hero_container h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.hero_container .para_head {
  letter-spacing: 3px;
  word-spacing: 6px;
  color: white;
  font-size: 1.3rem;
}

@media (max-width: 600px) {
  .hero_container .para_head {
    width: 350px;
  }
}

.hero_container .chat {
  padding-top: 50px;
  font-size: 1.5rem;
  text-decoration: underline;
  color: #17ce4b;
  cursor: pointer;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.hero_container .chat:hover {
  color: #222629;
}

.hero_container .mid_header_right img {
  width: 650px;
}

@media (max-width: 1200px) {
  .hero_container .mid_header_right img {
    width: 450px;
  }
}

@media (max-width: 1000px) {
  .hero_container .mid_header_right img {
    width: 350px;
  }
}

@media (max-width: 800px) {
  .hero_container .mid_header_right img {
    width: 450px;
    position: absolute;
    bottom: 0;
    right: 50%;
    margin-right: -175px;
    opacity: .2;
    z-index: 1;
  }
}

.hero_container .tech_list {
  position: absolute;
  bottom: 0;
  left: 100px;
}

.hero_container .tech_list .list_one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero_container .tech_list .list_one li {
  list-style: none;
  margin-right: 20px;
  padding: 1em;
  border-radius: 5px;
  text-align: left;
  background: #222629;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.hero_container .tech_list .list_one li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #17ce4b;
  font-weight: bolder;
}

.hero_container .tech_list .list_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.hero_container .tech_list .list_two li {
  list-style: none;
  margin-right: 20px;
  padding: 1em;
  border-radius: 5px;
  text-align: left;
  background: #222629;
  font-weight: bold;
  cursor: pointer;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

.hero_container .tech_list .list_two li:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  color: #17ce4b;
  font-weight: bolder;
}

@media (max-width: 1000px) {
  .hero_container .tech_list {
    display: none;
  }
}

.active {
  color: #17ce4b;
}

.down_arrow {
  position: absolute;
  bottom: 15px;
  right: 15px;
  background: #222629;
  padding: 1em;
  cursor: pointer;
  border-radius: 5px;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
  z-index: 9999999;
}

.down_arrow:hover {
  color: #17ce4b;
  background: #252a2d;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

span {
  color: #17ce4b;
  font-weight: bold;
}
/*# sourceMappingURL=Hero.css.map */