$primaryColor:#33393e;
$primaryColorHover:#383f45;
$secondaryColor: rgb(23, 206, 75);
$thirdColor: #222629;

$sm: 600px; //breakpoint for smaller devices
$smMd: 800px;
$md: 1000px;
$mdLg: 1200px;
$lg: 1800px; //desktop



@mixin respond($breakpoint) {
  @if $breakpoint == sm {
    @media (max-width: $sm) {
      @content;
    }
  } @else if $breakpoint == smMd {
    @media (max-width: $smMd) {
      @content;
    }
  } @else if $breakpoint == md {
    @media (max-width: $md) {
      @content;
    }
  } @else if $breakpoint == mdLg {
    @media (max-width: $mdLg) {
      @content;
    }
    
  } @else if $breakpoint == lg {
    @media (max-width: $lg) {
      @content;
    }
  }
}

.work_container{
  font-family: 'Abel', sans-serif;
  background: $primaryColor;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.3rem;

  @include respond(md) {
    flex-direction: column;
    
  }

  @include respond(md) {
    padding-bottom: 80px;
    
  }


  .work_left {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @include respond(md) {
      width: 100%;
    }
  

    .project {
      width: 80%;
      height: 400px;
      background: $thirdColor;
      margin-top: 100px;
      margin-top: 100px;
      position: relative;
      border-radius: 5px;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      @include respond(sm) {
        width: 90%;
        flex-direction: column;
        height: 350px;
      }

      p {
          font-size: 1.3;

        align-self: center;
        width: 40%;
        margin-right: 20px;

        span {
          color: $secondaryColor;
        }


        @include respond(sm) {
          width: 80%;
         
        }
  

      }

       img{ 
         object-fit: contain;
        width: 50%;
        height: 300px;
        bottom: 0;
        border-top-right-radius: 5px;

@include respond(sm) {
  object-fit: contain;
}
       
      }

      

      .links {
        
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;

      }

      a {
        background: $primaryColor;
        padding: .5em;
        margin-right: 5px;
        border-radius: 5px;
        cursor: pointer;

      }
    }
    .projectTwo {
      width: 80%;
      height: 400px;
      background: $thirdColor;
      margin-top: 100px;
      margin-top: 100px;
      position: relative;
      border-radius: 5px;

      @include respond(sm) {
        width: 90%;
        flex-direction: column;
        height: 350px;
      }

      p {
        
        align-self: center;
        width: 40%;
        margin-right: 20px;


        @include respond(sm) {
          width: 80%;
          
         
        }
  

      }




      img{ 
        width: 50%;
        height: 300px;
        bottom: 0;
        border-top-right-radius: 5px;

@include respond(sm) {
  object-fit: contain;
}
       
      }


      

      .links {
        
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      a {
        background: $primaryColor;
        padding: .5em;
        margin-right: 5px;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
      }
    }

  }


  .work_right {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    @include respond(md) {
      width: 100%;
    }


    .project {

      width: 80%;
      height: 400px;
      background: $thirdColor;
      margin-top: 100px;
      margin-top: 100px;
      position: relative;
      border-radius: 5px;
      align-items: flex-end;
      @include respond(sm) {
        width: 90%;
        flex-direction: column;
        height: 350px;
      }

      p {
        
        align-self: center;
        width: 40%;
        margin-right: 20px;

        

        @include respond(sm) {
          width: 80%;
         
        }
  

      }


      img{ 
        width: 50%;
        height: 300px;
        bottom: 0;
        border-top-right-radius: 5px;

@include respond(sm) {
  object-fit: contain;
}
       
      }


      

      .links {
        
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      a {
        background: $primaryColor;
        padding: .5em;
        margin-right: 5px;
        border-radius: 5px;
        cursor: pointer;

      }
    }

    .project.first {
      margin-top: 10px;
    }

    .projectTwo {
      width: 80%;
      height: 400px;
      background: $thirdColor;
      margin-top: 100px;
      margin-top: 100px;
      position: relative;
      border-radius: 5px;
      @include respond(sm) {
        width: 90%;
        flex-direction: column;
        height: 350px;
      }

            p {
        align-self: center;
        width: 40%;
        margin-right: 20px;

        
        
        @include respond(sm) {
          width: 80%;
         
        }
  

      }



      img{ 
        width: 50%;
        height: 300px;
        bottom: 0;
        border-top-right-radius: 5px;

@include respond(sm) {
  object-fit: contain;
}
       
      }


      

      .links {
        
        width: 100%;
        position: absolute;
        top: 0;
        margin-top: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
      }

      a {
        background: $primaryColor;
        padding: .5em;
        margin-right: 5px;
        border-radius: 5px;
        cursor: pointer;

      }

    }
      

 

    

  }

}

.tab {
  color: $secondaryColor;
}

.tech_list {
  position: absolute;
  bottom: 20px;
  right: 10px;
  @include respond(sm) {
    bottom: -40px;

  }


  span {
    background: $primaryColor;
    margin-right: 10px;
    padding: .3em;
    border-radius: 5px;
    color: black;
    @include respond(sm) {
      background: $thirdColor;
  
    }
  
  }
}